.habit {
	padding: 10px 20px;
	margin-bottom: 10px;
	
	&:hover {
		cursor: move;
	}
}

.positiveHabit {
	composes: habit;
	border: solid 1px black;
}

.negativeHabit {
	composes: habit;
	border: solid 1px black;
}