.skorkard {
  padding-top: 50px;
  height: 100vh;
}

.column {
  float: left;
  height: 100%;
  position: relative;
}

.leftColumn {
  composes: column;
  width: 50%;
  border-right: solid 1px #000;
}

.rightColumn {
  composes: column;
  width: 50%;
}
